@{
    ViewBag.Title = "Home Page";
}
@*@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
        </div>
    </section>
}*@ @{  
  @* ViewBag.Title = "Google Map API V3 with MVC4 Razor";*@  
 }  
 @*<h3>Google Maps Demo using MVC 4</h3>*@  
 <br />  
 <div id="map_canvas" style="width: 1024px; height: 480px;">  
 </div>
