<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.0.2" targetFramework="net45" />
  <package id="Glimpse" version="1.8.2" targetFramework="net45" />
  <package id="Glimpse.AspNet" version="1.8.0" targetFramework="net45" />
  <package id="Glimpse.Mvc4" version="1.5.3" targetFramework="net45" />
  <package id="mongocsharpdriver" version="1.8.3" targetFramework="net45" />
  <package id="routedebugger" version="2.1.4.0" targetFramework="net45" />
</packages>